# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Empacotamento
build/
dist/
*.rpm
*.tar.gz

# Editores e IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.#*

# Sistema
.DS_Store
Thumbs.db
.directory

# Arquivos temporários e logs
*.log
*.tmp
*.bak
